block var
  -
    const cfg = {
      title: "",
      highlightjs: false,
      mathjax: false,
    }

mixin head()
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  if cfg.title === ""
    title Chuyang Liu
  else
    title #{cfg.title} | Chuyang Liu

  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
       integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

  if cfg.highlighjs
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/vs2015.min.css',
         integrity='sha384-5LReBeMD31EW6049nqxZ1eFZBh5d0Bjz2Y9KkEy+yg8o+0oKpw+8AnDqvgqGdDkV', crossorigin='anonymous')

  link(rel='stylesheet', href='/style/default.css')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js',
         integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==', crossorigin='anonymous')

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
         integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

  if cfg.highlighjs
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js',
           integrity='sha384-pIQdMFYZ2bltIU/2TLEIdTHQ0bcJYLVTebFmAMRAGwPDPUEWYyUHurAAaSObi7jd', crossorigin='anonymous')

  if cfg.mathjax
    script(async, src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML',
           integrity='sha384-ekJxthwrl3ID8DzHP2myRUdIPhTdEgNJ1xKhDsMKDT3+kBlZ4Zwk5zH960SnLZR8', crossorigin='anonymous')

  script(src='/script/default.js')

mixin body()
  .container
    .row
      .col-sm-1
      .col-sm-10
        if cfg.title !== ""
          h1 #{cfg.title}
          hr
        block content
        if cfg.title === ""
          include footer/min.pug
        else
          include footer/full.pug
      .col-sm-1
  include monitor.pug

doctype html
html(lang='en')
  head
    +head()
  body
    +body()
